* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #121212;
    background: #FFFFFF;
    width: 100vw;
    /* font-family: 'Lobster', cursive; */
}

/* ====================
common CSS
======================= */

h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 80px;
    text-align: center;
    color: #121212;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
}

p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    text-align: center;
}

button {
    background: #FF5959;
    border-radius: 5px;
    font-weight: 600;
    font-size: large;
    color: #FFFFFF;
    padding: 16px 12px;
    border: none;
    display: block;
    align-items: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/* =================
Banner Area
==================== */
#banner_area {
    background-image: url(./images/donation3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner_area::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
}

.banner_inner_area {
    z-index: 1;
    width: 80%;
    max-width: 826px;
}

.banner_inner_area h1 {
    display: block;
    color: #FFFFFF;
    font-size: 65px;
}

.banner_inner_area p {
    display: block;
    color: #FFFFFF;
    padding: 40px 50px;
}

.banner_inner_area button {
    margin: 0 auto;

}

/* =================
Donate Area
==================== */
#donate_area {
    margin: 60px 0px;
}

.donate_inner_area {
    padding: 50px;
}

.donate_inner_area p {
    padding: 20px;
    margin-bottom: 50px;
}

.donate_inner_area .amount_p {
    color: #989898;
    margin-top: 70px;
    margin-bottom: 0px;
}

.donate_inner_area h2 {
    color: #4d4d4d;
}

.money_boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.money_boxes .tk {
    margin: 0px 10px;
    padding: 20px 20px;
    background: #dbd8d8;
    border-radius: 5px;
    border: 1px solid white;
}

.money_boxes .tk:hover {
    background: #ffaaaa;
    border: 1px solid red;
}

/* ========================
Plan Area
=========================== */
#plan_area {
    margin: 80px 0px;
}

.plan_heading {
    padding: 0px 80px;
    margin: 80px 0px;
}

.plan_boxes {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.plan_boxes p {
    text-align: left;
}

.plan_boxes h3 {
    line-height: 5rem;
}

.plan_box1 {
    margin: 5px 10px;
    padding: 20px;
    background: #4F9DA61A;
    border-radius:5px ;

}

.plan_box2 {
    margin: 5px 10px;
    padding: 20px;
    background: #FF59591A;
    border-radius:5px ;

}

.plan_box3 {
    margin: 5px 10px;
    padding: 20px;
    background: #FFF4D6;
    border-radius:5px ;
}